.game-field {
    display: flex;
    justify-content: space-around;
    width: 700px;
}

.type {
    width: 160px;
    height: 160px;
    border-radius: 100px;
    border: 15px solid;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: .3s;
}

.type:hover {
    transform: scale(1.2);
}