.settings {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.411);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.settings.active  { 
    opacity: 1;
    pointer-events: all;
}

.settings__content {
    
    padding: 30px;
    
    border-radius: 12px;
    background-color: white;
    height: 320px;
    width: 400px;
    transform: scale(0);
    transition: .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settings__content.active  { 
    transform: scale(1);
}

.settings__fx {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.settings__cntrl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
}